<html>
<head>
<meta http-equiv="Content-type" content="text/html; charset=UTF-8">
<title>$file - picomath</title>
<style type="text/css">
$style
</style>
</head>
<h1><a href="../index.html">picomath</a></h1>
<h2><a href="index.html">$name</a></h2>
<h3>$file</h3>
$code
</body>
</html>
